@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hakkımızda</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:wght@400;700&family=Montserrat:wght@700&display=swap"
          rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
          integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../css/hakkimizda.css">
</head>

<body>

    <nav>
        <div class="container">
            <div id="logo-box">
                <a asp-action="Chatflix" class="logo">
                    CHATFLIX
                </a>
            </div>
            <div id="nav-links">
                <ul>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            İndir
                        </a>
                    </li>
                    <li class="nav-item">
                        <a asp-action="Hakkimizda" class="nav-link">
                            Hakkımızda
                        </a>
                    </li>
                    <li class="nav-item">
                        <a asp-action="Iletisim" class="nav-link">
                            İletişim
                        </a>
                    </li>
                    <li class="nav-item">
                        <a asp-action="Login" class="nav-linklast">
                            Oturum Aç
                        </a>
                    </li>
                </ul>
            </div>
        </div>

    </nav>

    <header>
        <div class="hakkimizda">
            <h1 class="baslik">
                Hakkımızda
            </h1>
            <hr class="cizgi">
        </div>
        <div id="hakkimizda-text">
            <div class="left">
                <p class="text">
                    <b>Chatflix Nedir ?</b><br><hr><br>
                    Chatflix, kullanıcıların film/dizi zevklerine uygun arkaşlık kurabildiği,aynı veyahut farklı düşüncedeki
                    insanlarla izlediklerini tarışabileceği, yeni tanıştığı arkadaşlarıyla birlikte dizinin diğer bölümlerini veya
                    ortak belirledikleri filmi izleyebildiği bir platformdur.
                </p>
            </div>
            <div class="right">
                <p class="text">
                    <b>Chatflix Nasıl İşler ?</b><br><hr><br>
                    Kullanıcı Netflix platformundan dizi/film izlerken aynı içeriği izleyen kullanıcılarla eşleşebilir.
                    İçerik devam ederken iki kullanıcıya da eşleşme bildirimi gider. Eğer iki kişiden en az bir tanesi eşleşmeyi reddederse
                    eşleşme düşer. İki kullanıcı da eşleşmeyi kabul ederse eşleşme başarılı olur ve ilgili sayfada gözükür. Onaylanan eşleşmelerde
                    mesajlaşma bölümü kilitlidir. İki kullanıcı da dizinin bölümünü veya filmi bitirdiğinde mesajlaşma özelliği açılır.
                    Bu sayede kullanıcıların spoilera maruz kalması engellenir.
                    Mesajlaşma bölümü açıldıktan sonra kişilerin tercihi doğrultusunda içeriğe birlikte devam edilebilir.


                </p>
            </div>
        </div>


    </header>

</body>

</html>
